!.gitignore

*__pycache__/
image/
.storage/
.cloud/
Docker/certbot/data
db/
custom_components/
www/
binday/

!custom_components/fitbit

*.db
*.db-shm
*.db-wal
*.env

.DS_Store
.python-version
secrets.yaml
ip_bans.yaml
known_devices.yaml
SERVICE_ACCOUNT.JSON
home-assistant.log
Docker/nginx/config/app.conf
fitbit.conf