!.gitignore

storage/

configs/homeassistant/image/
configs/homeassistant/.storage/
configs/homeassistant/.cloud/
configs/homeassistant/custom_components/
configs/homeassistant/www/
configs/homeassistant/backups/
configs/influxdb/

configs/homeassistant/google*
configs/homeassistant/.google*
configs/homeassistant/ip_bans.yaml
configs/homeassistant/known_devices.yaml
configs/homeassistant/SERVICE_ACCOUNT.JSON
configs/homeassistant/webostv.conf
configs/homeassistant/fitbit.conf

configs/nginx/config/app.conf

Docker/database/crontab
Docker/appdaemon/appdaemon.yaml

!custom_components/fitbit

*__pycache__/
*log/*

*secrets.yaml

*.db
*.db-shm
*.db-wal
*.sqlite
*.env
*.mp3
*.log*
*.DS_Store
*.python-version
