!.gitignore

storage/

apps/homeassistant/config/image/
apps/homeassistant/config/.storage/
apps/homeassistant/config/.cloud/
apps/homeassistant/config/custom_components/
apps/homeassistant/config/www/
apps/homeassistant/config/backups/
apps/influxdb/config/

apps/homeassistant/config/google*
apps/homeassistant/config/.google*
apps/homeassistant/config/ip_bans.yaml
apps/homeassistant/config/known_devices.yaml
apps/homeassistant/config/SERVICE_ACCOUNT.JSON
apps/homeassistant/config/webostv.conf
apps/homeassistant/config/fitbit.conf

!custom_components/fitbit

*__pycache__/
*log/*

*secrets.yaml

*.db
*.db-shm
*.db-wal
*.sqlite
*.env
*.mp3
*.log*
*.DS_Store
*.python-version
