services:
  alloy:
    container_name: alloy
    image: grafana/alloy:latest
    restart: unless-stopped
    volumes:
      - "${DATADIR}/apps/alloy/config/config.alloy:/etc/alloy/config.alloy"
      - "${DATADIR}/apps/plex/config/Library/Application Support/Plex Media Server/Logs:/plexlogs"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "12345:12345"
    command: 
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy

  appdaemon:
    container_name: appdaemon
    image: acockburn/appdaemon:latest
    environment:
      HA_URL: "http://${DICKHOME_IP}:8123"
      DASH_URL: "http://${DICKHOME_IP}:5050"
    ports:
      - "5050:5050"
    volumes:
      - "${DATADIR}/apps/appdaemon/config/:/conf/"
    depends_on:
      - homeassistant
    restart: no

  duplicati:
    image: ghcr.io/linuxserver/duplicati
    container_name: duplicati
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/London
    volumes:
      - "${STORAGE_DATADIR}/duplicati/config:/config"
      - "${STORAGE_DATADIR}/duplicati/backup:/backups"
      - "${DATADIR}/apps/homeassistant/config/backups:/source/homeassistant"
      # - "${DATADIR}/configs:/source/configs"
      - "${DATADIR}/storage/db/backups:/source/db"
      - "${DATADIR}/storage/loki:/source/loki"
      # - "${DATADIR}/storage:/source/storage"
      # - "~/.:/source/home"
    ports:
      - 8200:8200
    restart: unless-stopped

  grafana:
    container_name: grafana
    image: "grafana/grafana:latest"
    restart: unless-stopped
    # user: "$PUID:$PGID"
    depends_on:
      - influxdb
        # condition: service_healthy
    user: "0"
    volumes:
      - "${DATADIR}/storage/grafana/:/var/lib/grafana/"
    ports:
      - 3000:3000
    environment:
      - GF_AUTH_DISABLE_LOGIN_FORM=false
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_SERVER_ROOT_URL=/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true


  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - "${DATADIR}/apps/homeassistant/config/:/config/"
      - "/etc/localtime:/etc/localtime:ro"
    restart: unless-stopped
    privileged: true
    network_mode: host
    extra_hosts:
      - "${DOMAIN_NAME}:${DICKHOME_IP}"
    depends_on:
      - mariadb
      - influxdb
    healthcheck:
      test: curl --fail -I -X GET http://localhost:8123 || exit 1
      interval: 30s
      retries: 5
      start_period: 30s
      timeout: 5s

  influxdb:
    container_name: influxdb
    build:
      context: ./apps/influxdb/docker
    restart: unless-stopped
    volumes:
      - "${DATADIR}/storage/db/influxdb:/var/lib/influxdb2/"
      - "${DATADIR}/apps/influxdb/config:/etc/influxdb2/"
      - "${DATADIR}/storage/db/backups/influxdb:/backup"
    environment: 
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUXDB_USERNAME}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUXDB_PASSWORD}
      DOCKER_INFLUXDB_INIT_ORG: ${INFLUXDB_ORG}
      DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUXDB_BUCKET}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUXDB_TOKEN}
    healthcheck:
      test: ["CMD", "curl", "-sI", "http://127.0.0.1:8086/ping"]
      interval: 30s
      timeout: 1s
      retries: 24
    ports:
      - 8086:8086

  loki:
    container_name: loki
    image: grafana/loki:latest
    restart: unless-stopped
    ports:
      - "3100:3100"
    volumes:
      - "${DATADIR}/apps/loki/config/loki-config.yaml:/etc/loki/loki-config.yaml"
      - "${STORAGE_DATADIR}/loki/:/loki/"
    command: -config.file=/etc/loki/loki-config.yaml

  maintainerr:
      container_name: maintainerr
      image: ghcr.io/jorenn92/maintainerr:latest 
      user: 1000:1000
      volumes:
        - "${DATADIR}/storage/maintainerr/:/opt/data/"
      environment:
        - TZ=Europe/London
        - PGID=1000
        - PUID=1000
        # - BASE_PATH=/maintenance
      ports:
        - 6246:6246 
      restart: unless-stopped

  mariadb:
    container_name: mariadb
    build:
      context: ./apps/mariadb/docker
    image: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${HA_DB_NAME}"
      MARIADB_USER: "${HA_DB_USER}"
      MARIADB_PASSWORD: "${HA_DB_PASSWORD}"
      MARIADB_AUTO_UPGRADE: "true"
    volumes:
      - "${DATADIR}/storage/db/mariadb/:/var/lib/mysql/"
      - "${DATADIR}/storage/db/backups/mariadb:/backup"
    ports:
      - "3306:3306"

  mosquitto:
    container_name: mosquitto
    build:
      context: ./apps/mosquitto/docker
      args:
        USER: ${MOSQUITTO_USER}
        PASSWORD: ${MOSQUITTO_PASS}
    volumes:
      - "${DATADIR}/apps/mosquitto/config/:/mosquitto/"
    ports:
      - "1883:1883"
    restart: unless-stopped

  nginx:
    container_name: nginx
    build:
      context: ./apps/nginx/docker
      args:
        DOMAIN_NAME: ${DOMAIN_NAME}
        EMAIL: ${EMAIL}
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      EMAIL: ${EMAIL}
      CLOUDFLARE_DNS_TOKEN: ${CLOUDFLARE_DNS_TOKEN}
      FETCH_CERTIFICATES: "false"
    volumes:
      - "${DATADIR}/apps/nginx/config/:/etc/nginx/config/"
      - "${DATADIR}/storage/certbot/data/:/etc/letsencrypt/"
      - "${DATADIR}/storage/certbot/www/:/var/www/certbot/"
    network_mode: host
    restart: on-failure:3
    healthcheck:
      test: curl --fail -I -X GET http://localhost:80 || exit 1
      interval: 30s
      retries: 5
      start_period: 30s
      timeout: 5s

  organizr:
    container_name: organizr
    image: organizr/organizr
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
      fpm: false
    volumes:
      - ${DATADIR}/storage/organizr:/config
    ports:
      - 8980:80

  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    environment:
      # - LOG_LEVEL=debug
      - TZ=Europe/London
      - PORT=5055
    ports:
      - 5055:5055
    volumes:
      - "${DATADIR}/storage/overseerr/:/app/config/"
    restart: unless-stopped

  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    environment:
      - TZ=Europe/London
      - PLEX_CLAIM=${PLEX_PASS}
    network_mode: host
    volumes:
      - ${STORAGE_DATADIR}/plex:/config
      - /transcode:/transcode
      - /mnt/shared/media:/data

  portainer:
    container_name: portainer
    image: portainer/portainer:latest
    restart: unless-stopped
    ports:
      - "9000:9000/tcp"
    environment:
      - TZ=Europe/London
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "${DATADIR}/storage/portainer:/data"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    command:
      - --web.enable-remote-write-receiver
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  roomassistant:
    container_name: roomassistant
    image: mkerix/room-assistant
    network_mode: host
    volumes:
      - /var/run/dbus:/var/run/dbus
    environment:
      RA_GLOBAL_INSTANCE_NAME: bedroom
      RA_HOME_ASSISTANT_MQTT_URL: mqtt://localhost:1883
      RA_HOME_ASSISTANT_MQTT_USERNAME: ${MOSQUITTO_USER}
      RA_HOME_ASSISTANT_MQTT_PASSWORD: ${MOSQUITTO_PASS}
      NODE_CONFIG: >
        {
          "global": {
            "integrations": ["homeAssistant", "bluetoothLowEnergy"]
          },
          "cluster": {
            "port": 6425,
            "peerAddresses": ["192.168.1.13:6425"]
          },
          "bluetoothLowEnergy": {
            "processIBeacon": true,
            "allowlist": ["54BAD6D89218", ".*-100-.*"],
            "allowlistRegex": true,
            "tagOverrides": {
              "fed1eea098904b84bb0b5cf59da4c0aa-100-1": {
                "name": "Mobile SKYNET"
              }
            }
          }
        }
    restart: unless-stopped

  samba:
    image: ghcr.io/servercontainers/samba:latest
    container_name: samba
    restart: unless-stopped
    environment:
      ACCOUNT_jimbroze: ${SAMBA_PASSWORD}
      SAMBA_VOLUME_CONFIG_shared: "[Shared]; path=/shares/shared; valid users = jimbroze; force user = jimbroze; guest ok = no; read only = no; browseable = yes; available = yes; writable = yes"
      SAMBA_VOLUME_CONFIG_backup: "[Backup]; path=/shares/backup; valid users = jimbroze; force user = jimbroze; guest ok = no; read only = no; browseable = yes; available = yes; writable = yes"
    volumes:
      - /mnt/shared:/shares/shared
      - /mnt/backup:/shares/backup
    ports:
      - 445:445
    cap_add:
      - CAP_NET_ADMIN

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock