HA_URL: BLANK

recorder_db_url: BLANK

mqtt_pass: BLANK

alexa_client: BLANK
alexa_secret: BLANK

spotify_client: BLANK
spotify_secret: BLANK

aws_access_key_ID: BLANK
aws_secret_access_key: BLANK

router_password: BLANK

living_room_tv_mac: BLANK

GOOGLE_ID: BLANK
GOOGLE_SECRET: BLANK

TODOIST: BLANK
todo_project_id: BLANK
shopping_project_id: BLANK
todoist_api_payload: BLANK