#Ensure 80 and 443 are forwarded on router!

services:
  alloy:
    container_name: alloy
    image: grafana/alloy:latest
    restart: unless-stopped
    volumes:
      - "${DATADIR}/configs/alloy/config.alloy:/etc/alloy/config.alloy"
      - "${DATADIR}/configs/plex/Library/Application Support/Plex Media Server/Logs:/plexlogs"
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "12345:12345"
    command: 
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy

  appdaemon:
    container_name: appdaemon
    image: acockburn/appdaemon:latest
    # user: root # Required to write to /sys/class/gpio
    environment:
      HA_URL: "http://${DICKHOME_IP}:8123"
      DASH_URL: "http://${DICKHOME_IP}:5050"
    ports:
      - "5050:5050"
    volumes:
      - "${DATADIR}/configs/appdaemon/:/conf/"
      # - "/sys/class/gpio/:/sys/class/gpio/"
      # - "/sys/devices/platform/pinctrl/:/sys/devices/platform/pinctrl/"
    # devices:
    #   - "/dev/gpiochip2:/dev/gpiochip2"
    #   - "/dev/gpiochip2:/dev/gpiochip3"
    depends_on:
      - homeassistant
    restart: unless-stopped
  # binday:
  #   container_name: binday
  #   build:
  #     context: ./binday/
  #   volumes:
  #     - "${DATADIR}/binday/:/data/"
  #   environment:
  #     PYTHONUNBUFFERED: 1
  #     LOCATION_CODE: ${LOCATION_CODE}
  #     CAL_ID: ${CAL_ID}


  duplicati:
    image: ghcr.io/linuxserver/duplicati
    container_name: duplicati
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/London
    volumes:
      - "${STORAGE_DATADIR}/duplicati/config:/config"
      - "${STORAGE_DATADIR}/duplicati/backup:/backups"
      - "${DATADIR}/configs/homeassistant/backups:/source/homeassistant"
      - "${DATADIR}/configs:/source/configs"
      - "${DATADIR}/Docker:/source/Docker"
      - "${DATADIR}/storage/db/backups:/source/db"
      - "${DATADIR}/storage/loki:/source/loki"
      # - "${DATADIR}/storage:/source/storage"
      # - "~/.:/source/home"
    ports:
      - 8200:8200
    restart: unless-stopped
    # logging:
    #   driver: loki
    #   options:
    #     loki-url: "http://localhost:3100/loki/api/v1/push"

  # github_runner:
  #   container_name: github_runner
  #   image: myoung34/github-runner:latest
  #   restart: unless-stopped
  #   environment:
  #     REPO_URL: https://github.com/jimbroze/Jarvis
  #     RUNNER_NAME: Jarvis
  #     ACCESS_TOKEN: ${GITHUB_TOKEN}
  #     RUNNER_WORKDIR: ${DATADIR}
  #     # RUNNER_GROUP: my-group
  #     RUNNER_SCOPE: "repo"
  #     LABELS: linux,arm64,DietPi
  #   volumes:
  #     - "${DATADIR}:${DATADIR}"
  #     - "/var/run/docker.sock:/var/run/docker.sock"
  #     - "/tmp/runner:/tmp/runner"
  #     # note: a quirk of docker-in-docker is that this path
  #     # needs to be the same path on host and inside the container,
  #     # docker mgmt cmds run outside of docker but expect the paths from within

  grafana:
    container_name: grafana
    image: "grafana/grafana:latest"
    restart: unless-stopped
    # user: "$PUID:$PGID"
    depends_on:
      - influxdb
        # condition: service_healthy
      # - nginx
    user: "0"
    volumes:
      - "${DATADIR}/storage/grafana/:/var/lib/grafana/"
    ports:
      - 3000:3000
    environment:
      - GF_AUTH_DISABLE_LOGIN_FORM=false
      - GF_AUTH_ANONYMOUS_ENABLED=false
      # - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
      # - GF_SERVER_DOMAIN=${SUBDOMAIN}.${DOMAIN}
      # - GF_SERVER_ROOT_URL=https://${SUBDOMAIN}.${DOMAIN}/grafana/
      - GF_SERVER_ROOT_URL=/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true


  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - "${DATADIR}/configs/homeassistant/:/config/"
      - "/etc/localtime:/etc/localtime:ro"
    restart: unless-stopped
    privileged: true
    network_mode: host
    extra_hosts:
      - "home.${DOMAIN_NAME}:${DICKHOME_IP}"
    depends_on:
      - mariadb
      - influxdb
    healthcheck:
      test: curl --fail -I -X GET http://localhost:8123 || exit 1
      interval: 30s
      retries: 5
      start_period: 30s
      timeout: 5s
  #docker exec -it homeassistant bash
  #wget -q -O - https://install.hacs.xyz | bash -

  influxdb:
    container_name: influxdb
    # image: "influxdb:latest"
    build:
      context: ./influxdb/
    restart: unless-stopped
    volumes:
      - "${DATADIR}/storage/db/influxdb:/var/lib/influxdb2/"
      - "${DATADIR}/configs/influxdb:/etc/influxdb2/"
      - "${DATADIR}/storage/db/backups/influxdb:/backup"
    environment: 
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUXDB_USERNAME}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUXDB_PASSWORD}
      DOCKER_INFLUXDB_INIT_ORG: ${INFLUXDB_ORG}
      DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUXDB_BUCKET}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUXDB_TOKEN}
    healthcheck:
      test: ["CMD", "curl", "-sI", "http://127.0.0.1:8086/ping"]
      interval: 30s
      timeout: 1s
      retries: 24
    ports:
      - 8086:8086

  # konnector:
  #   container_name: konnector
  #   build:
  #     context: ./konnector/
  #   ports:
  #     - "8080:8080"
  #   volumes:
  #     - "${DATADIR}/configs/konnector/:/data/"
  #   environment:
  #     PORT: 8080
  #     MODULE_NAME: konnector.main
  #     ENDPOINT: https://${SUBDOMAIN}.${DOMAIN}/konnector
  #     LOG_LEVEL: debug
  #     AUTH: false
  #   healthcheck:
  #     test: curl --fail -I -X GET http://localhost:8080 || exit 1
  #     interval: 30s
  #     retries: 5
  #     start_period: 30s
  #     timeout: 5s
  #   restart: unless-stopped

  loki:
    container_name: loki
    image: grafana/loki:latest
    restart: unless-stopped
    ports:
      - "3100:3100"
    volumes:
      - "${DATADIR}/configs/loki/config/loki-config.yaml:/etc/loki/loki-config.yaml"
      - "${STORAGE_DATADIR}/loki/:/loki/"
    command: -config.file=/etc/loki/loki-config.yaml

  mariadb:
    container_name: mariadb
    build:
      context: ./mariadb/
    image: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${HA_DB_NAME}"
      MARIADB_USER: "${HA_DB_USER}"
      MARIADB_PASSWORD: "${HA_DB_PASSWORD}"
      MARIADB_AUTO_UPGRADE: "true"
    volumes:
      - "${DATADIR}/storage/db/mariadb/:/var/lib/mysql/"
      - "${DATADIR}/storage/db/backups/mariadb:/backup"
    ports:
      - "3306:3306"

  # monitor:
  #   container_name: monitor
  #   # build:
  #   #   context: ./monitor/
  #   image: mashupmill/presence-monitor:latest
  #   volumes:
  #     - "${DATADIR}/storage/monitor/:/config/"
  #     - "/etc/localtime:/etc/localtime:ro"
  #   environment:
  #     MQTT_ADDRESS: ${DICKHOME_IP}
  #     MQTT_USER: ${MOSQUITTO_USER}
  #     MQTT_PASSWORD: ${MOSQUITTO_PASS}
  #     MQTT_PUBLISHER_IDENTITY: bedroom
  #     # KNOWN_BEACON_ADDRESSES: |
  #     #   FF:FF:FF:FF:FF:FF Red Tag
  #     #   FF:FF:FF:FF:FF:FF Green Tag
  #     #   FF:FF:FF:FF:FF:FF White Tag
  #     #   FF:FF:FF:FF:FF:FF Black Tag
  #     KNOWN_STATIC_ADDRESSES: |
  #       54:BA:D6:D8:8B:68 mobile_skynet
  #     #   FF:FF:FF:FF:FF:FF Beta Phone BT
  #   network_mode: host
  #   cap_add:
  #     - NET_ADMIN
  #   privileged: true
  #   # command: bash monitor.sh -h #help
  #   command: bash monitor.sh -V -b -x #Use -tr if other nodes are added

  mosquitto:
    container_name: mosquitto
    build:
      context: ./mosquitto/
      args:
        USER: ${MOSQUITTO_USER}
        PASSWORD: ${MOSQUITTO_PASS}
    volumes:
      - "${DATADIR}/configs/mosquitto/:/mosquitto/"
    ports:
      - "1883:1883"
    restart: unless-stopped

  nginx:
    container_name: nginx
    build:
      context: ./nginx/
      args:
        DOMAIN: ${DOMAIN}
        SUBDOMAIN: ${SUBDOMAIN}
        DOMAIN_NAME: ${DOMAIN_NAME}
        EMAIL: ${EMAIL}
    environment:
      DOMAIN: ${DOMAIN}
      SUBDOMAIN: ${SUBDOMAIN}
      DOMAIN_NAME: ${DOMAIN_NAME}
      EMAIL: ${EMAIL}
      TOKEN: ${DUCKTOKEN}
      CLOUDFLARE_DNS_TOKEN: ${CLOUDFLARE_DNS_TOKEN}
    # depends_on:
    #   - homeassistant
    volumes:
      - "${DATADIR}/configs/nginx/config/:/etc/nginx/config/"
      - "${DATADIR}/storage/certbot/data/:/etc/letsencrypt/"
      - "${DATADIR}/storage/certbot/www/:/var/www/certbot/"
    network_mode: host
    restart: no
    healthcheck:
      test: curl --fail -I -X GET http://localhost:80 || exit 1
      interval: 30s
      retries: 5
      start_period: 30s
      timeout: 5s

  organizr:
    container_name: organizr
    image: organizr/organizr
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
      fpm: false
    volumes:
      - ${STORAGE_DATADIR}/organizr:/config
    ports:
      - 8980:80

  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    environment:
      - TZ=Europe/London
      - PLEX_CLAIM=${PLEX_PASS}
    network_mode: host
    volumes:
      - ${STORAGE_DATADIR}/plex:/config
      - /transcode:/transcode
      - /mnt/shared/media:/data

  portainer:
    container_name: portainer
    image: portainer/portainer:latest
    restart: unless-stopped
    ports:
      - "9000:9000/tcp"
    environment:
      - TZ=Europe/London
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "${DATADIR}/storage/portainer:/data"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    command:
      - --web.enable-remote-write-receiver
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  # "integrations": ["homeAssistant", "bluetoothLowEnergy", "bluetoothClassic"]
  roomassistant:
    container_name: roomassistant
    image: mkerix/room-assistant
    network_mode: host
    volumes:
      - /var/run/dbus:/var/run/dbus
    environment:
      RA_GLOBAL_INSTANCE_NAME: bedroom
      RA_HOME_ASSISTANT_MQTT_URL: mqtt://localhost:1883
      RA_HOME_ASSISTANT_MQTT_USERNAME: ${MOSQUITTO_USER}
      RA_HOME_ASSISTANT_MQTT_PASSWORD: ${MOSQUITTO_PASS}
      NODE_CONFIG: >
        {
          "global": {
            "integrations": ["homeAssistant", "bluetoothLowEnergy"]
          },
          "cluster": {
            "port": 6425,
            "peerAddresses": ["192.168.1.13:6425"]
          },
          "bluetoothLowEnergy": {
            "processIBeacon": true,
            "allowlist": ["54BAD6D89218", ".*-100-.*"],
            "allowlistRegex": true,
            "tagOverrides": {
              "fed1eea098904b84bb0b5cf59da4c0aa-100-1": {
                "name": "Mobile SKYNET"
              }
            }
          }
        }
    restart: unless-stopped

  samba:
    image: ghcr.io/servercontainers/samba:latest
    container_name: samba
    restart: unless-stopped
    environment:
      ACCOUNT_jimbroze: ${SAMBA_PASSWORD}
      SAMBA_VOLUME_CONFIG_shared: "[Shared]; path=/shares/shared; valid users = jimbroze; force user = jimbroze; guest ok = no; read only = no; browseable = yes; available = yes; writable = yes"
      SAMBA_VOLUME_CONFIG_backup: "[Backup]; path=/shares/backup; valid users = jimbroze; force user = jimbroze; guest ok = no; read only = no; browseable = yes; available = yes; writable = yes"
    volumes:
      - /mnt/shared:/shares/shared
      - /mnt/backup:/shares/backup
    ports:
      - 445:445
    cap_add:
      - CAP_NET_ADMIN

  # vscode:
  #   image: lscr.io/linuxserver/code-server:latest
  #   container_name: vscode
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Europe/London
  #     - PASSWORD=${VSCODE_PASSWORD} #optional
  #     # - HASHED_PASSWORD= #optional
  #     # - SUDO_PASSWORD=password #optional
  #     # - SUDO_PASSWORD_HASH= #optional
  #     # - PROXY_DOMAIN=code-server.my.domain #optional
  #     - DEFAULT_WORKSPACE=/data #optional
  #   volumes:
  #     - ${DATADIR}/configs/vscode:/config
  #     - ${DATADIR}:/data
  #   ports:
  #     - 8443:8443
  #   restart: unless-stopped


    # container_name: vscode
    # image: codercom/code-server
    # volumes:
    #   - "${DATADIR}:/home/coder/project"
    #   # <vs code config> should point to a local dir where vs code stores its data.
    #   - ${DATADIR}/storage/vscode:/home/coder/.local/share/code-server
    # ports:
    #   - "8443:8080"
    # command: code-server --auth password --disable-telemetry /home/coder/project
    # environment:
    #   PASSWORD: "${VSCODE_PASSWORD}"
    # restart: unless-stopped