group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include sensor.yaml

alexa:
  smart_home:
    locale: en-GB
    endpoint: "https://api.eu.amazonalexa.com/v3/events"
    client_id: !secret alexa_client
    client_secret: !secret alexa_secret
    filter:
      include_entities:
        - media_player.lg_webos_tv_uj630v
      include_domains:
        - light
        - scene
        - group
      # exclude_entities:
        # - light.bedroom_lights

calendar:
  - platform: todoist
    token: !secret TODOIST_TOKEN

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

device_tracker:
  # - platform: arris_tg2492lg
  #   host: 192.168.1.1
  #   password: !secret router_password
  #   # interval_seconds: 10
  #   # consider_home: 180
  #   new_device_defaults:
  #     track_new_devices: True

duckdns:
  domain: jimbroze
  access_token: !secret duck_token

frontend:
  themes: !include_dir_merge_named themes

# google:
#   client_id: !secret GOOGLE_ID
#   client_secret: !secret GOOGLE_SECRET
# #   track_new_calendar: false

google_assistant:
  project_id: jarvis-b89c8
  service_account: !include SERVICE_ACCOUNT.JSON
  report_state: true
  entity_config:
    binary_sensor.updator:
      expose: false
    media_player.living_room_speaker:
      expose: false
    switch.bedroom_wall_light:
      expose: false
    sensor.mobile_skynet_battery_temperature:
      expose: false


http:
  # For extra security set this to only accept connections on localhost if NGINX is on the same machine
  # Uncommenting this will mean that you can only reach Home Assistant using the proxy, not directly via IP from other clients.
  # server_host: 127.0.0.1
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 192.168.1.11
    - ::1
homeassistant:
  internal_url: http://192.168.1.11:8123
  external_url: !secret HA_URL
  time_zone: "Europe/London"
  country: GB
  currency: GBP
  # time_zone: "Etc/GMT" # For google calendar authentication
  latitude: !secret LATITUDE
  longitude: !secret LONGITUDE

influxdb:
  api_version: 2
  ssl: false
  host: 127.0.0.1
  port: 8086
  token: !secret influx_token
  organization: !secret influx_org
  bucket: homeassistant
  measurement_attr: entity_id
  tags:
    source: HA
  tags_attributes:
    - friendly_name
  default_measurement: units
  # exclude:
  #   entities:
  #     - zone.home
  #   domains:
  #     - persistent_notification
  #     - person
  include:
    domains:
      - sensor
      - light
  #     - binary_sensor
  #     - sun
  #   entities:
  #     - weather.home

light:
  # - platform: flux_led
  #   automatic_add: true
  #   devices:
  #     192.168.1.19:
  #       name: Bedroom Light Strip
  # - platform: group
  #   name: All Lights
  #   entities:
  #     - light.bedroom_light
  #     - light.lightstrip
  #     - light.lounge_light
  # - platform: template
  #   lights:
  #     uv_lights:
  #       friendly_name: "UV Lights"
  #       unique_id: "uv_lights"
  #       turn_on:
  #         service: switch.turn_on
  #         data:
  #           entity_id: switch.uv_lights
  #       turn_off:
  #         service: script.uv_lights_off

logger:
  default: info
  logs:
    homeassistant.components.python_script.log.py: debug # Debug for AppDaemon logs
    # homeassistant.components.alexa: debug
    homeassistant.components.sensor.fitbit: debug
    homeassistant.components.fitbit: debug
    custom_components.sensor.fitbit: debug
    custom_components.fitbit: debug

media_player:

mqtt:

recorder:
  db_url: !secret recorder_db_url

rest_command:
  todoist:
    method: post
    url: "https://api.todoist.com/sync/v8/sync"
    payload: !secret todoist_api_payload
    content_type: "application/x-www-form-urlencoded"

shell_command:
  restart_server: "reboot now"

# tts:
#   - platform: amazon_polly
#     aws_access_key_id: !secret aws_access_key_ID
#     aws_secret_access_key: !secret aws_secret_access_key
#     region_name: "eu-west-2"
#     # text_type: ssml
#     voice: Amy
#     engine: neural
#     cache: True

wake_on_lan:
